export(all_ClinicalCodes_articles)
export(codelist_keywords)
export(codelists_for_ro)
export(get_ClinicalCodes)
export(research_object)
import(RCurl)
import(XML)
import(rjson)
import(stringr)
import(tm)
